# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
.venv/

# Local environment variables
.env

# SQLite database
*.db

# Uploaded images
photos/

# VSCode settings (optional)
.vscode/

# macOS system files
.DS_Store

# Logs (optional)
*.log
